@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import "tailwindcss";

@layer utilities {
  .double-outline {
    @apply outline-8 outline-secondary outline-double;
  }
}

@theme {
  --color-primary: oklch(0.787 0.0755 30.17);
  --color-secondary: oklch(0.5663 0.0928 20.38);
  --color-tertiary: oklch(0.6807 0.1215 30.6);
  --color-textcolor: oklch(1 0 30.6);
}

@layer components {
  .card {
    @apply rounded-lg bg-gradient-to-br from-tertiary to-secondary text-textcolor p-6;
  }
  .navbar {
    @apply bg-primary text-textcolor flex items-center p-3;
  }
}
